<div class="content">
  
  <a mat-raised-button  color="primary" routerLink="almacenes-add">+</a>
  
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="almacenId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.almacenId}}</td>
      </ng-container>
  
      <!-- Encargado Name Column -->
      <ng-container matColumnDef="encargado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Encargado</th>
        <td mat-cell *matCellDef="let row">{{row.encargado}}</td>
      </ng-container>
  
  
      <!-- Direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
        <td mat-cell *matCellDef="let row">{{row.direccion}}</td>
      </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let row"><button mat-button color="accent" [routerLink]="['almacenes-edit', row]">EDIT</button>
            <button mat-button color="warn" (click)="remove(row.almacenId)">REMOVE</button></td>
        </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
</div>
