<div class="content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="almacenForm" (ngSubmit)="update()">
          <mat-form-field appearance="outline">
            <mat-label>Encargado</mat-label>
            <input matInput (value)="almacen.encargado" formControlName="encargado" />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline">
            <mat-label>Direccion</mat-label>
            <input matInput (value)="almacen.direccion" formControlName="direccion" />
          </mat-form-field>
          <br />
          <div class="login-buttons">
            <button mat-raised-button color="warn">Cancelar</button>
            <button
              mat-raised-button
              [disabled]="almacenForm.invalid"
              type="submit"
              color="primary"
            >
              Guardar</button
            ><br />
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>